{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
    
        <br>
        
        <h2>Active Listings</h2>
        
        {% for auction in auctions %}
            <li> <a href="{% url 'auctions:listing' auction.id %}">Auction {{ auction.id }}:</a> {{ auction.title }} by {{ auction.user }} for SGD${{ auction.price }} </li>
        {% endfor %}


    {% endif %}

    
{% endblock %}

<!-- <a href="{% url 'auctions:createListing' %}">Create a Listing</a> -->