{% extends "auctions/layout.html" %}

{% block body %}

    Title: {{ listing.title }}

    <br>
    <br>

    User: {{ listing.user }}

    <br>

    Price: {{ listing.price }}

    <img src={{listing.picture}} alt="img">

    {% if in_watchlist %}
        <h3>Remove from watchlist</h3>

        <form action="{% url 'auctions:watchlist_remove' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="listingID" value="{{listing.id}}">
                <input type="hidden" name="user" value="{{user.id}}">
            </div>
            <input class="btn btn-primary" type="submit" value="Remove From Watchlist">
        </form>
    {% else %}
        <h3>Add to watchlist</h3>
        
        <form action="{% url 'auctions:watchlist' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="listingID" value="{{listing.id}}">
                <input type="hidden" name="user" value="{{user.id}}">
            </div>
            <input class="btn btn-primary" type="submit" value="Add To Watchlist">
        </form>
    {% endif %}

    

    


{% endblock %}

<!-- https://docs.djangoproject.com/en/3.1/howto/static-files/ --> 